.header{
    width:100%;
    height:150px;
    background-color: chartreuse;

}
.left-section{
    width:20%;
    float:left;
    height:400px;
    background-color: orange;
}
.right-section{
    width:80%;
    float:left;
    height:400px;
    background-color: rgb(223, 22, 109);
}
.footer{
    height:400px;
    width:100%;
    background-color: aqua;
}
.content{
    height:500px;
    background-color: black;

}
body{
    margin:40px
}
