button{
    background: rgb(186, 17, 141);
    color: azure;
}
#para2{
    color: rgb(228, 45, 45);
}
#para3{
    color: midnightblue;
}
.content{
    color: aqua;
    background-color: crimson;
}
.content1{
    color: rgb(13, 15, 15);
    background-color: crimson;
}

